@font-face {
    font-family: head ;
    src: url(./Heading-Now-Variable.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    font-weight: 100;
    font-style: normal;
   
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
    white-space: nowrap;
    font-stretch: 390%;
    font-family: head  ;
    /* overflow: hidden; */
}

#page1{
    font-size: 20vh;
    color: white;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: rgb(205, 211, 232);
   position: fixed; 
    z-index: 99; 
    display: flex;
   justify-content: center;
   align-items: center;
 

}
#loader h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}

#letter{
    cursor: pointer;
}